$top-space: 60px
$tooltip-top-space: 70px
$title-fontsize: 42px
$paragraph-fontsize: 24px
    
=article-padding
    padding: $top-space 80px 0 80px

=absolute-position-article
    top: $top-space
    

.hide
    display: none

    
body
    font-family: 'Notosans-Regular', sans-serif
    color: #595959


*
    &[contenteditable="true"]
        &:focus
            outline: none
    margin: 0


main
    width: 75%
    margin: 0 auto
    padding: 60px 0


header
    img[alt="logo"]
        width: 200px


.new-article
    position: relative
    +article-padding


    .content
        position: relative
        pointer-events: all


    .title
        font-family: 'Notosans-Bold', sans-serif
        opacity: 1
        text-rendering: optimizelegibility

    h3.title
        font-size: $title-fontsize

    h3, p
        margin: 0 0 20px 0

    p
        font-size: $paragraph-fontsize

    
    .content-placeholders
        position: absolute
        pointer-events: none
        +absolute-position-article
        h3
            margin: 0
            font-size: $title-fontsize
            opacity: 0.8

        
    .side-tooltip
        position: absolute
        top: 130px
        left: 20px
        display: none
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        background: #ccc
        border-radius: 50%
        transition: 0.3s
        &:hover
            background: #3F88C5
            cursor: pointer
            img
                &:first-of-type
                    transform: translateX(-5px)
                    opacity: 0
                &:last-of-type
                    display: block
                    -webkit-animation: slide-in 0.3s 1 ease-in-out
                    -moz-animation: slide-in 0.3s 1 ease-in-out
                    -o-animation: slide-in 0.3s 1 ease-in-out
                    animation: slide-in 0.3s 1 ease-in-out
                    animation-fill-mode: forwards
        &.clicked
            background: #3F88C5
            img
                &:first-of-type
                    transform: translateX(-5px)
                    opacity: 0
                &:last-of-type
                    display: block
                    -webkit-transform: translateX(16px)
                    -moz-transform: translateX(16px)
                    -o-transform: translateX(16px)
                    transform: translateX(16px)
            &:hover
                background: #3F88C5
                cursor: pointer
                img
                    &:first-of-type
                        transform: translateX(-5px)
                        opacity: 0
                    &:last-of-type
                        display: block
                        -webkit-animation: none
                        -moz-animation: none
                        -o-animation: none
                        animation: none
        img
            width: 16px
            height: 16px
            &:first-of-type
                transition: 0.3s
            &:last-of-type
                width: 26px
                height: 26px
                display: none
        .wrapper
            position: relative
            display: flex
            background: black
        .menu
            position: absolute
            display: none
            background: #3F88C5
            padding: 3px 15px
            align-items: center
            top: -17px
            left: 24px
            border-radius: 8px
            -webkit-animation: slide-in 0.3s 1 ease-in-out
            -moz-animation: slide-in 0.3s 1 ease-in-out
            -o-animation: slide-in 0.3s 1 ease-in-out
            animation: slide-in 0.3s 1 ease-in-out
            animation-fill-mode: forwards
            &:hover
                cursor: default
            .image-upload
                position: relative
                margin-right: 10px
                overflow: hidden
                &:hover
                    cursor: pointer
                input
                    position: absolute
                    border: none
                    outline: none
                    box-shadow: none
                    background: transparent
                    opacity: 0
                    width: 100%
                    height: 100%
                    &:hover
                        cursor: pointer 
                        & + i
                            color: #fff
                            text-shadow: 0px 0px 5px #595959
            i
                color: #f4f4f4
                transition: 0.3s
                &:hover
                    cursor: pointer
                    color: #fff
                    text-shadow: 0px 0px 5px #595959

        
// Animation of the side-tooltip button`s part
@-webkit-keyframes slide-in
    0% 
        -webkit-transform: translateX(-16px)
    100% 
        -webkit-transform: translateX(16px)
    

@-moz-keyframes slide-in
    0% 
        -moz-transform: translateX(-16px)
    100% 
        -moz-transform: translateX(16px)
    

@-o-keyframes slide-in
    0% 
        -o-transform: translateX(-16px)
    100% 
        -o-transform: translateX(16px)
    

@keyframes slide-in
    0% 
        transform: translateX(-16px)
    100% 
        transform: translateX(16px)